<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="style.css">

    <title>Welcome visitor</title>
  </head>
  <body>







<nav class="navbar navbar-inverse">

  <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active"  type='pull-right' href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Reservations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Reviews</a>
  </li>

<a class="nav-item nav-link" type='pull-right' href="{% url 'logout' %}">Logout</a>
 <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>

</ul>

  </nav>


<div class="container">
  <div class="row">



 {% block content %}
<h1>hotel</h1>
 {% endblock %}



  </body>
</html>



