{% extends 'base.html' %}

{% block content %}

<div class="booking_text">

<div class="container">
  <div class="row">
    <div class="col-sm">
      Congratulations 
      <p>We look forward to hosting you on ..... check out is at 10 Am the day of departure.Whatever your last-day plans may be, checking out online is an easy way to simplify your final morning. With this option, available at some of our hotels, receive your final bill by email the day before you leave and settle it at any time, all from the comfort of your room. Avoid queues or waiting at the reception desk so that when it is time to go, you simply leave your card key in the room, shut the door, and get on with your day. What could be easier?</p>
      <img src="https://cdn0.iconfinder.com/data/icons/hotel-icons-rounded/110/Hotel-2-512.png" width=80px>
    </div>
    <div class="col-sm">
      What to do
       <p>The sights of London are spread out, so are the hotels, even the theatres and shops. Whichever hotel neighbourhood you choose to stay in, you will be travelling around using public transport to visit them. There is no “downtown” area in the North American sense or a universal "best located" neighbourhood. You will find some of the cheapest hotel areas have better access to some major attractions than the most expensive ones.</p>

<img src="http://pluspng.com/img-png/google-maps-png-google-maps-icon-1600.png" width=80px>
      
  
    </div>
    <div class="col-sm">
      Tell your friends 
         <p>social media icons</p>
         <img src="http://www.transparentpng.com/thumb/facebook-logo-png/background-facebook-logo-5.png" width=80px>
    </div>
  </div>
</div>
</div>

{% endblock %}