{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <h1 class="col-6 search-title">{{title}}</h1>
      <div class="col-5"></div>
      {% if request.user.is_authenticated %}
      <div class="col-1">
      <a class=" btn btn-success" href="{% url 'visitor:add_review' %}">Add a Review</a>
      </div>
      {% endif %}
      </div>
    <div class="row">
      {% for review in reviews %}
        <div class="col-12 mt-3">
          <div class="card">
            <div class="card-header">
              {{review.title}}
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>{{review.content | truncatechars:100}}</p>
              <footer class="blockquote-footer"><a href="{% url 'visitor:user_reviews' review.user.id %}">{{review.user.first_name}} {{review.user.last_name}}</a>, <cite title="Source Title">{{review.timestamp | timesince}}</cite></footer><a href="{% url 'visitor:review' review.id%}" class="btn btn-sm btn-success float-right">See Review</a>
            </blockquote>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}