
.nav {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}


.body {
        background-image: url("https://lensdrop.imgix.net/photos/h4z10/stock-photo-h4z10.jpeg?mark=%2Fwm.png&markalign=center%2Cmiddle&markh=0.1&w=1200&h=650&s=b55eac49f32afc9680f4d60fbf24fb7f");
          background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center; 
} 

h1{
			color: #0000FF;
		}

